<form action="" class="space-y-3">
  <div class="flex-1 rounded-lg bg-gray-50 px-6 pb-4 pt-8">
    <h1 class="mb-3 text-2xl" style="font-family: Lusitana;">
      Please log in to continue.
    </h1>
    <div class="w-full">
      <div>
        <label
          class="mb-3 mt-5 block text-xs font-medium text-gray-900"
          htmlFor="email"
        >
          Email
        </label>
        <div class="relative">
          <input
            class="peer block w-full rounded-md border border-gray-200 py-[9px] pl-10 text-sm outline-2 placeholder:text-gray-500"
            id="email"
            type="email"
            name="email"
            placeholder="Enter your email address"
            required
          />
          <ng-icon [svg]="atSymbolIcon" class="pointer-events-none absolute left-3 top-1/2 h-[18px] w-[18px] -translate-y-1/2 text-gray-500 peer-focus:text-gray-900"></ng-icon>
          <!-- <AtSymbolIcon class="pointer-events-none absolute left-3 top-1/2 h-[18px] w-[18px] -translate-y-1/2 text-gray-500 peer-focus:text-gray-900" /> -->
        </div>
      </div>
      <div class="mt-4">
        <label
          class="mb-3 mt-5 block text-xs font-medium text-gray-900"
          htmlFor="password"
        >
          Password
        </label>
        <div class="relative">
          <input
            class="peer block w-full rounded-md border border-gray-200 py-[9px] pl-10 text-sm outline-2 placeholder:text-gray-500 focus:ring-sky-500"
            id="password"
            type="password"
            name="password"
            placeholder="Enter password"
            required
            minLength={6}
          />
          <ng-icon [svg]="keyIcon" class="pointer-events-none absolute left-3 top-1/2 h-[18px] w-[18px] -translate-y-1/2 text-gray-500 peer-focus:text-gray-900"></ng-icon>
          <!-- <KeyIcon class="pointer-events-none absolute left-3 top-1/2 h-[18px] w-[18px] -translate-y-1/2 text-gray-500 peer-focus:text-gray-900" /> -->
        </div>
      </div>
    </div>
    <div class="mt-4 w-full">
      <app-login-button [pending]="pending"></app-login-button>
    </div>
    <div class="flex h-8 items-end space-x-1" aria-live="polite" aria-atomic="true">
    @if (errorMessage) {
      <div>
        <ng-icon [svg]="exclamationCircleIcon" class="h-5 w-5 text-red-500"></ng-icon>
        <p class="text-sm text-red-500">{{errorMessage}}</p>
      </div>
    }
      <!-- {errorMessage && (
        <>
          <ExclamationCircleIcon class="h-5 w-5 text-red-500" />
          <p class="text-sm text-red-500">{errorMessage}</p>
        </>
      )} -->
    </div>
  </div>
</form>